<% layout("layout/boilerplate")%>
<div class="row mt-3" >
    <div class="col-8">
              <h2>Want to do some Changes</h2>
    <h4>Your Id: <%=list._id%></h4>
    <form method="post" action="/listings/<%=list._id%>?_method=put" class="needs-validation" novalidate>
        <div class="mb-3">
             <label for="title" class="form-label">Title:</label>
            <textarea type="text" name="Listing[title]" class="form-control" required><%=list.title%></textarea>
            <div class="valid-feedback">Title looks good</div>
             </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description:</label>
            <textarea cols="100" name="Listing[description]" type="text" class="form-control" required><%=list.description%></textarea>
        </div>
        <div class="mb-3">
            <label for="image" class="form-label">ImgLink:</label>
            <textarea name="Listing[image][url]"class="form-control"><%=list.image.url%> </textarea>
        </div>
       <div class="mb-3">
             <label for="price" class="form-label">price:</label>
            <textarea name="Listing[price]" class="form-control" required type="number"><%=list.price%></textarea>
            <div class="invalid-feedback">Please enter a valid price</div>
       </div>
       <div class="row">
                 <div class="mb-3 col-md-4">
                 <label for="country" class="form-label">country:</label>
                  <textarea name="Listing[country]" class="form-control" required><%=list.country%></textarea>
                  <div class="invalid-feedback">Please enter correct country</div>
          </div>
       <div class="mb-3 col-md-8">
              <label for="location" class="form-label">location:</label>
            <textarea name="Listing[location]" class="form-control" required><%=list.location%></textarea>
               <div class="invalid-feedback">Please enter correct country</div>   
       </div>      
       </div>
        <button class="btn btn-dark add-btn mt-3">Update</button>
        <br/><br/>
    </form>
    </div>
</div>
    

